{% extends 'base.html' %}

{% block title %}Personalsite Page{% endblock title %}

{% block product %} <a class="nav-link active  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Product</a>
{% endblock product %}

{% block body %} 
 {% comment %} <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> {% endcomment %}
{% endblock body %}